name: Publish release

on:
  release:
    types: [published, edited]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Publish release
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'adopt'
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload jar to release
        uses: AButler/upload-release-assets@v3.0
        with:
          files: './build/libs/*.jar'

          repo-token: ${{ secrets.GITHUB_TOKEN }}
